<!DOCTYPE html>
<html>
<head>
    <title>crime corelator</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Crime Corelator</h1>

            <p>Welcome to our website.</p>
            <p>Here we describe how to use our api.</p>
            <br />
			
			<strong>In order to get all data navigate to:</strong>
            <br />
            <a href="/crimeco/allcounties" class="btn btn-default btn-block">/crimeco/counties</a>
            <br />

            <strong>In order to get all data navigate to:</strong>
            <br />
            <a href="/crimeco/countiesdata" class="btn btn-default btn-block">/crimeco/countiesdata</a>
            <br />
            <strong>To get data by a specific id:</strong>
            <br />
            <a href="/crimeco/counties/:id" class="btn btn-default  btn-block">/crimeco/counties/:id</a>
            <br />
            <strong>Example:</strong>
            <br />
            <a href="/crimeco/counties/5003" class="btn btn-default  btn-block">/crimeco/counties/5003</a>
            <br />
            <strong>To post a crime:</strong>
            <br />
            <a href="/crimeco/crime" class="btn btn-default  btn-block">/crimeco/counties/crime</a>
            <br />

        </div>
    </div>
</body>
</html>
